# ##### My Notes on Good/Interesting Python Packages #####

# This is *not* an actual list of requirements for this project,
# just all the modules I find interesting or useful.

# $ python -m pip install --upgrade --upgrade-strategy=eager pip wheel -r requirements.txt

# https://pip.pypa.io/en/latest/reference/requirements-file-format/#requirements-file-format
# https://pip.pypa.io/en/latest/user_guide/#requirements-files
# https://pip.pypa.io/en/stable/reference/requirement-specifiers/
# https://peps.python.org/pep-0508/

# ##### Python Language & Extensions #####

# TODO: still need to test pydantic in detail
# https://pydantic-docs.helpmanual.io/usage/validation_decorator/
#pydantic

# https://mypy.readthedocs.io/
mypy

# https://coverage.readthedocs.io/en/latest/cmd.html
coverage

# https://deprecation.readthedocs.io/
deprecation

# https://pypi.org/project/more-itertools/
more-itertools >= 9.1.0

# https://pypi.org/project/ordered-enum/
ordered_enum

# https://dateutil.readthedocs.io/
python-dateutil

# https://pypi.org/project/autopep8/
autopep8

# https://flake8.pycqa.org/
flake8

# https://black.readthedocs.io/
black

# apparently needed on Windows and not necessarily on *NIX?
tzdata

# https://pyinstaller.org/
pyinstaller

# https://bidict.readthedocs.io/
bidict

# ##### APIs #####

# https://pypi.org/project/keyring/
keyring
# requires this on Freedesktop/Gnome:
SecretStorage

# https://gkeepapi.readthedocs.io/en/latest/
gkeepapi

# https://pypi.org/project/pywin32/
pywin32; sys_platform == 'win32'

# ##### Scientific #####

# https://numpy.org/
# https://pandas.pydata.org/docs/
pandas
matplotlib

# https://jupyter.org/install
# https://plotly.com/python/getting-started/#jupyter-notebook-support
plotly
# use Jupyter Lab instead
#notebook >= 5.6.0
#ipywidgets >= 7.5
# https://github.com/dunovank/jupyter-themes
# `jt -l` and `jt -t monokai`
#jupyterthemes
# https://plotly.com/python/getting-started/#jupyterlab-support
jupyterlab >=3
ipywidgets >= 7.6
jupyter-dash
# see also: https://plotly.com/python/pandas-backend/

# kaleido for plotly image export
kaleido; sys_platform != 'win32'
# https://github.com/plotly/Kaleido/issues/80
# https://github.com/plotly/Kaleido/issues/134
kaleido==0.1.0.post1; sys_platform == 'win32'

# https://scipy.org/
SciPy

# https://pint.readthedocs.io/en/stable/
pint

# ##### Hardware #####

# https://pythonhosted.org/pyserial/
pyserial

# http://crcmod.sourceforge.net/
crcmod

# https://github.com/siara-cc/Unishox2
# https://github.com/tweedge/unishox2-py3
# This is currently only for experimentation and not really needed on Windows, where it's a little tricky to build
unishox2-py3; sys_platform != 'win32'

# ##### Database & Serialization #####

# https://pypi.org/project/pysqlite/
# python -c 'import sqlite3; import pysqlite3; print(f"sqlite3={sqlite3.sqlite_version} pysqlite={pysqlite3.sqlite_version}")'
#pysqlite3
pysqlite3-binary; sys_platform != 'win32'

# http://json-schema.org/understanding-json-schema/index.html
# https://jschon.readthedocs.io/en/stable/
jschon
# A bit of research seems to indicate that while several JSON Schema validators
# are actively maintainued, jschon seems to currently be the most complete?
# https://json-schema.org/implementations.html#validator-python
# https://python-jsonschema.readthedocs.io/en/stable/
#jsonschema

# https://github.com/ultrajson/ultrajson
ujson

# https://docs.sqlalchemy.org/en/latest/
SQLAlchemy

# https://pypi.org/project/dataclasses-json/
dataclasses-json
# dataclasses-json has some minor drawbacks in types, e.g. it apparently silently accepts floats when the dataclass type is int.
# orjson doesn't seem to have a way to deserialze dataclasses?
# https://pypi.org/project/orjson/
orjson

# ##### Network / Web #####

# https://docker-py.readthedocs.io/
# https://github.com/docker/docker-py
docker

# https://www.crummy.com/software/BeautifulSoup/bs4/doc/
beautifulsoup4
# https://requests.readthedocs.io/
requests
# https://scrapy.org/
scrapy

# SSH client based on http://paramiko.org/
# https://www.fabfile.org/
fabric

# https://www.djangoproject.com/
Django

# https://fastapi.tiangolo.com
# https://github.com/tiangolo/fastapi
fastapi
uvicorn

# https://skshetry.github.io/webdav4/
webdav4

# https://docs.makotemplates.org/en/latest/
Mako

# https://itsdangerous.palletsprojects.com/
itsdangerous

# ##### Text #####

regex

# https://pypi.org/project/Unidecode/
# https://github.com/avian2/unidecode
Unidecode

# https://github.com/dwolfhub/zxcvbn-python
zxcvbn

# https://pyicu.org/
# https://unicode-org.github.io/icu-docs/apidoc/released/icu4c/
# sudo apt-get build-dep python3-icu
# Windows: https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyicu
pyicu; sys_platform != 'win32'

# ##### Terminal #####

# https://pypi.org/project/termcolor/
# https://pypi.org/project/colorama/
# https://github.com/tartley/colorama
termcolor
colorama

# https://pypi.org/project/rich/
# https://github.com/Textualize/rich
# https://rich.readthedocs.io/en/latest/
rich

# https://pypi.org/project/simple-term-menu/
# https://github.com/IngoMeyer441/simple-term-menu
simple-term-menu

# ##### Image #####

# https://pypi.org/project/PyExifTool/
# cpanm Image::ExifTool
PyExifTool

# https://pypi.org/project/tifffile/
tifffile
# possible alternatives:
# https://pypi.org/project/tifftools/
# https://github.com/pearu/pylibtiff

# https://python-pillow.org/
# https://pypi.org/project/Pillow/
# https://pillow.readthedocs.io/en/stable/
Pillow

# ##### GIS #####

# https://pyproj4.github.io/pyproj/stable/
pyproj

# https://pypi.org/project/PyGeodesy/
# https://mrjean1.github.io/PyGeodesy/
PyGeodesy

# ##### My Modules #####

# https://pypi.org/project/sleep-until/
# https://github.com/haukex/sleep_until
sleep_until

# https://pypi.org/project/igbpyutils/
# https://github.com/haukex/igbpyutils
igbpyutils
